@import "//fast.fonts.net/cssapi/d645cd83-c955-4277-a114-11f6324025d4.css";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html,.reset{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Custom Site Styles */

/* ========== Base Styles ========== */

html {
  /*
    Use the text-size-adjust property
    to prevent automatically inflating
    text on orientation changes
    (portrait to landscape on a phone,
    for example):
  */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ie-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  /*
    Major Third Modular Scale
    http://www.modularscale.com/?19&px&1.25
  */
  font-size: 1.1875em; /* 19 / 16px */
  line-height: 1.2631578947em; /* 24 / 19px = 1.2631578947 */
  font-family: "Camphor W04", Verdana, Helvetica, Arial, sans-serif;
  color: #222;
  background: #EEE;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}
h3 {
  font-size: 1.25em; /* 23.75 / 19 = 1.25 */
  line-height: 1.5157894737em; /* 36 / 23.75 = 1.5157894737 */
}
h4 {
  font-size: 0.8em; /* 15.2px / 19px */
  line-height: 1.5789473684em; /* 24 / 15.2px = 1.5789473684 */
  padding-bottom: 0.7894736842em; /* 12 / 15.2 = 0.7894736842 */
  text-transform: uppercase;
}

p {
  padding-bottom: 1.2631578947em;
}

ul {
  list-style-type: square;
}

ol {
  counter-reset: enum;
}
ol, ul, li {
  padding-bottom: 0.6315789474em; /* 12 / 19 = 0.6315789474 */
}

ol ol,
ol ul,
ul ul,
ul ol {
  padding-top: 0.6315789474em; /* 12 / 19 = 0.6315789474 */
  padding-bottom: 0;
}

li ol,
li ul {
  padding-left: 1.2631578947em; /* 24 / 19px = 1.2631578947 */
}

ol > li::before {
  counter-increment: enum;
  content: counter(enum) ". ";
  position: absolute;
  margin-left: -1.2631578947em; /* 24 / 19px = 1.2631578947 */
  font-weight: bold;
}

a {
  color: #A00;
}
b, strong {
  font-weight: bold;
}
cite, em, i {
  font-style: italic;
}
code {
  background: #CCC;
  color: #222;
  font-family: Menlo, Monaco, "Droid Sans Mono", Courier, "Courier New", monospace;
  font-size: 0.85em;
}
code a,
a code {
  color: #222;
}

header {
  padding-bottom: 1.2631578947em; /* 24 / 19px = 1.2631578947 */
}

header small {
  display: block;
}

/* Layout Styles */
#header {
  position: relative;
  padding-top: 3.7894736842em; /* 72 / 19 = 3.7894736842 */
}
#header small,
#nav-menu a {
  display: block;
  position: absolute;
  top: 0;
  left: 0.6315789474em; /* 12 / 19 = 0.6315789474 */
  padding-top: 0.6315789474em; /* 12 / 19 = 0.6315789474 */
  padding-bottom: 0.6315789474em; /* 12 / 19 = 0.6315789474 */
  font-weight: bold;
}
#nav-menu a {
  left: auto;
  top: 0.3157894737em; /* 6 / 19 = 0.3157894737em */
  right: 0.3157894737em; /* 6 / 19 = 0.3157894737em */
  padding: 0.3157894737em; /* 6 / 19 = 0.3157894737em */
  border-radius: 0.3157894737em; /* 6 / 19 = 0.3157894737em */
  font-weight: normal;
  text-transform: uppercase;
}
.week h4 a {
  display: inline-block;
  padding: 0.1973684211em 0.3157894737em; /* 6 / 19 = 0.3157894737em; 3 / 15.2 = 0.1973684211 */
  margin-left: 0.3618421053em;
  border-radius: 0.3618421053em; /* 5.5 / 15.2 = 0.2894736842em */
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
}

#header,
#this-week,
#content,
#links,
#instructor,
#footer {
  padding-left: 11%; /* 33 / 300 = 0.11 */
  padding-right: 11%; /* 33 / 300 = 0.11 */
}

#links,
#instructor,
#footer {
  padding-top: 2.5263157895em; /* 48 / 19 = 2.5263157895 */
}
#projects article {
  padding-bottom: 2.5263157895em; /* 48 / 19 = 2.5263157895 */
}

/* Modular Styles */
#header,
#footer {
  color: #555;
}
#header a {
  text-decoration: none;
}

h2 {
  font-weight: normal;
  font-size: 1.9531052632em; /* 37.109 / 19 = 1.9531052632 */
  line-height: 1.2934867552em; /* 48 / 37.109 = 1.2934867552 */
  padding-bottom: 0.6467433776em; /* 24 / 37.109 = 0.6467433776 */
}
h2#nav-menu {
  font-size: inherit;
  line-height: inherit;
  padding-bottom: inherit;
}
.assigned h3 {
  font-size: inherit;
  line-height: inherit;
}
#policies h3,
#links h3,
#instructor h3 {
  padding-bottom: 0.5052631579em; /* 12 / 23.75 = 0.5052631579 */
}
h3 + small {
  padding-bottom: 0.6315789474em; /* 12 / 19 = 0.6315789474 */
}

#this-week {
  padding-top: 1.2631578947em; /* 24 / 19px = 1.2631578947 */
  padding-bottom: 1.2631578947em; /* 24 / 19px = 1.2631578947 */
  background: #222;
  color: #EEE;
}
.assigned {
  background-color: rgba(0,0,0,0.1);
}
.tagline,
.note,
#footer p {
  font-size: 0.8em; /* 15.2px / 19px */
  line-height: 1.5789473684em; /* 24 / 15.2px = 1.5789473684 */
  padding-bottom: 1.5789473684em;
}

.nav,
.agenda,
.assignments {
  list-style-type: none;
}

#navigation a {
  box-sizing: border-box;
  display: block;
  padding: 0.3157894737em; /* 6 / 19 = 0.3157894737em */
  border-radius: 0.3157894737em;
  border: 1px solid #A00;
  text-align: center;
}

#calendar #nav-cal a,
#policies #nav-pol a,
#projects #nav-pro a,
.week h4 a {
  background: #A00;
  color: #EEE;
}

.agenda ol,
.assignments ol {
  padding-left: 0;
  padding-top: 0;
}

.meeting::before {
  content: "";
}

.week .assigned {
  padding: 1.2631578947em; /* 24 / 19px = 1.2631578947 */
  padding-left: 1.8947368421em; /* 36 / 19 = 1.8947368421 */
  padding-bottom: 0;
}
.week + .week {
  margin-top: 2.5263157895em; /* 48 / 19 */
}

/* State Styles */
.js .nav {
  height: 0;
  padding: 0;
  overflow-y: hidden;
}
.js .expandable .nav {
  transition: height 0.2s ease-out;
}
.js .is-expanded .nav {
  height: 15.1578947368em; /* (12 gridlines) 288 / 19 = 15.1578947368em */
}
.js .is-expanded #nav-menu a {
  color: #555;
  border: 1px solid #555;
}
.js body::after {
  display: none;
  content: "menu";
}

.js #this-week + #content h2 {
  padding-top: 1.2934867552em; /* 48 / 37.109 = 1.2934867552 */
}

/* 660px / 16 = 37.5em */
@media screen and (min-width: 41.25em) {
  #header {
    padding-top: 5.0526315789em; /* 96 / 19 = 5.0526315789 */
  }
  #content h2 {
    padding-top: 1.2934867552em; /* 48 / 37.109 = 1.2934867552 */
  }
  .nav {
    position: absolute;
    right: 0.3157894737em; /* 6 / 19 = 0.3157894737em */
    top: 0.3157894737em; /* 6 / 19 = 0.3157894737em */
  }
  .nav li {
    float: left;
    margin-left: 0.3157894737em; /* 6 / 19 = 0.3157894737em */
  }
  .flexbox .nav {
    display: flex;
  }
  .flexbox .nav li {
    float: none;
  }
  .js .nav {
    height: auto;
    padding-bottom: 0.6315789474em; /* 12 / 19 = 0.6315789474 */
    overflow-y: auto;
  }
  .js body::after {
    content: "";
  }
}

/* 820 / 16 = 51.25em */
@media screen and (min-width: 51.25em) {
  #header h1,
  #header .tagline,
  #footer p {
    width: 40%;
  }
  #header small {
    left: 11%;
  }
  .nav {
    right: 11%; /* TODO: Align with RH column on calendar */
  }
  #instructor {
    width: 60%;
  }
  .week .agenda {
    float: left;
    width: 40%;
  }
  .week .assigned {
    margin-left: 45%;
  }
  .week > header {
    clear: both;
    padding-top: 1.2631578947em; /* 24 / 19px = 1.2631578947 */
    padding-bottom: 1.2631578947em; /* 24 / 19px = 1.2631578947 */
  }
  #calendar.cssgrid .is-visible .extended {
    display: grid; /* Yuck, yuck, yuck */
  }
  .cssgrid .week {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas:
      "header header"
      "agenda assigned";
    grid-column-gap: 1.2631578947em; /* 24 / 19px = 1.2631578947 */
  }
  .cssgrid .week > header {
    grid-area: header;
  }
  .cssgrid .week .agenda {
    grid-area: agenda;
    float: none;
    width: auto;
  }
  .meeting {
    padding-bottom: 1.8947368421em; /* 36 / 19 = 1.8947368421 */
  }
  .cssgrid .week .assigned {
    grid-area: assigned;
    margin-left: 0;
  }
  .cssgrid #links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "header header header"
      "course tools references";
    grid-column-gap: 1.8947368421em; /* 36 / 19 = 1.8947368421 */
  }
  .cssgrid header {
    grid-area: header;
  }
  .cssgrid #course-resources {
    grid-area: course;
  }
  .cssgrid #essential-tools {
    grid-area: tools;
  }
  .cssgrid #essential-references {
    grid-area: references;
  }
}

/* 1040 / 16 = 65em */
@media screen and (min-width: 65em) {
  #projects #content,
  #policies #content {
    width: 60%;
  }
}
