@import url("https://use.typekit.net/pig5ein.css");

$base-size-px: 19;
$base-line-px: 24;
$base-size: ($base-size-px / 16) * 100%;
$base-line: ($base-line-px / $base-size-px) * 1rem;
$mod-scale: 1.25;
$text-color: #222;
$back-color: #F2F2F2;
$spot-color: #900;

html {
  -webkit-text-size-adjust: none;
  font-family: Parka, serif;
  font-size: 19px;
  color: $text-color;
  background: $back-color;
}
body {
  line-height: $base-line;
}
@media (min-resolution: 192dpi) {
  html {
    font-weight: 300;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}
h1 small,
h1 b {
  display: block;
  font-weight: normal;
}
h2 {
  font-family: "moderno-fb-compressed";
  font-weight: 600;
  font-size: $base-size * $mod-scale * $mod-scale * $mod-scale;
  line-height: $base-line * 2;
}
/* ~ 620px */
@media screen and (min-width: 38.75em) {
  h2 {
    font-family: "moderno-fb-condensed";
    font-weight: 700;
  }
}
h3 {
  text-transform: uppercase;
}
.agenda h3,
#footer h3 {
  text-transform: none;
  font-weight: 500;
}
#content header {
  padding-bottom: $base-line;
}
#content header small {
  color: $spot-color;
  display: block;
  font-weight: 500;
  padding-top: $base-line * 0.25;
}
#content article {
  padding-bottom: $base-line * 3;
}

#header,
#footer {
  color: #777;
}
#header {
  padding: $base-line * 0.5;
}
#header .nav {
  color: $text-color;
}
#header p {
  min-height: $base-line * 4;
  padding-top: $base-line * 0.5;
}
#header,
#content,
#footer {
  padding-left: $base-line * 1.5;
  padding-right: $base-line * 1.5;
}

/* ~ 855px */
@media screen and (min-width: 53.4375em) {
  #header,
  #content,
  #footer {
    padding: ($base-line * 1.5) 10%;
  }
  h2 {
    font-size: $base-size * $mod-scale * $mod-scale * $mod-scale * $mod-scale;
    line-height: $base-line * 2.5;
  }
}

/* ~ 1100px */
@media screen and (min-width: 68.75em) {
  #header,
  #content,
  #footer {
    padding: ($base-line * 3) 20% ($base-line * 1.5) 20%;
  }
  h2 {
    font-size: $base-size * $mod-scale * $mod-scale * $mod-scale * $mod-scale * $mod-scale;
    line-height: $base-line * 3;
  }
}

/* ~ 690px */
@media screen and (min-width: 43.125em) {
  .policy,
  .project,
  .week {
    display: grid;
    grid-template-columns: .5fr 1fr 2fr;
    grid-column-gap: $base-line * 1.5;
  }
  .week {
    grid-template-rows: auto minmax(($base-line * 3.25), max-content);
  }
  .policy header,
  .project header,
  .week header {
    grid-column: 1 / 4;
  }
  .week .agenda {
    grid-column: 2 / 3;
    grid-row-start: 3;
  }
  .week .agenda + .agenda {
    grid-row-start: 4;
  }
  .policy > * {
    grid-column: 2 / 4;
  }
  .project > * {
    grid-column: 3 / 4;
  }
  .project .deliverables,
  .project .requirements {
    grid-column: 1 / 3;
  }
  .project .deliverables {
    grid-row-start: 3;
  }
  .project .requirements {
    grid-row-start: 4;
  }
  .project .goals {
    grid-column: 3 / 4;
  }
  .project .description {
    grid-column: 3 / 4;
    grid-row: 2 / 6;
  }
  .week .assigned {
    grid-column: 3 / 4;
    grid-row: 2 / 7;
  }
}

b, strong {
  font-weight: bold;
}
#content b,
#content strong {
  font-weight: 500;
}
cite, em, i {
  font-style: italic;
}
code {
  font-family: Menlo, Monaco, "Droid Sans Mono", Courier, "Courier New", monospace;
  font-size: 0.85em;
}

p,li {
  padding-bottom: $base-line;
  -webkit-hyphens: auto;
  hyphens: auto;
}

li {
  padding-bottom: $base-line / 2;
}
ol, ul {
  padding-bottom: $base-line / 2;
}

ol ol,
ol ul,
ul ol,
ul ul {
  padding-top: $base-line / 2;
  padding-bottom: 0;
  padding-left: $base-line;
}

ol ul > li,
ul ul > li,
.with::before {
  margin-left: -($base-line * 1.25);
}
ul {
  list-style-type: square;
}
ol {
  list-style-type: decimal;
}
ul, .with::before {
  list-style-type: none;
}
ul li, .with::before {
  position: relative;
  padding-left: $base-line;
  margin-left: -($base-line);
}
ul li::before {
  color: $spot-color;
  content: "■";
  position: absolute;
  left: $base-line * 0.3;
  top: -($base-line * 0.065);
}
#quick-nav .nav {
  display: flex;
  justify-content: space-between;
}
#nav-con::before {
  content: ""
}
#nav-con a {
  text-decoration: none;
}
.nav a {
  display: block;
}
.nav li::before {
  content: "□";
}
.nav li:hover::before,
#calendar #nav-cal::before,
#policies #nav-pol::before,
#projects #nav-pro::before {
  content: "■";
}
ol, .with::before {
  list-style-type: none;
  counter-reset: enumerated;
}
ol > li, .with::before {
  position: relative;
  padding-left: $base-line;
  margin-left: -($base-line);
  counter-increment: enumerated;
}
ol > li::before {
  color: $spot-color;
  font-weight: bold;
  content: counter(enumerated) "";
  position: absolute;
  left: -($base-line * 0.0375);
  text-align: right;
  width: 1em;
}

.access {
  position: absolute;
  left: -10000px;
}

a {
  color: $spot-color;
}
#header h1 a {
  color: $spot-color;
  text-decoration: none;
}
@supports (text-decoration-color: red) {
  a {
    color: inherit;
    text-decoration-color: $spot-color;
  }
}

/**
* A quick baseline grid overlay using css+svg.
* Inspired by [Basehold.it](https://basehold.it/).
* @author leshido
*/

.g body {
  position: relative;
}

.g body::after {
  background: url('data:image/svg+xml;utf8,<svg height="24" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 0, 0.3)" /></svg>') repeat top left;
  content: "";
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  position: absolute;
}

.g body:active::after {
  display: none;
}
